USE [master]
GO
/****** Object:  Database [QuanlySanPham]    Script Date: 6/8/2022 7:18:01 PM ******/
CREATE DATABASE [QuanlySanPham]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanlySanPham', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlySanPham.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanlySanPham_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanlySanPham_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanlySanPham].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanlySanPham]
GO
/****** Object:  Table [dbo].[LoaiSP]    Script Date: 6/8/2022 7:18:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSP](
	[MaLoai] [varchar](2) NOT NULL,
	[TenLoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 6/8/2022 7:18:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSP] [varchar](4) NOT NULL,
	[TenSP] [nvarchar](20) NULL,
	[DonGia] [float] NULL,
	[MaLoai] [varchar](2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'BK', N'Bánh kẹo')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'GK', N'Giải khát')
INSERT [dbo].[LoaiSP] ([MaLoai], [TenLoai]) VALUES (N'MP', N'Mỹ phẩm')
GO
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoai]) VALUES (N'SP01', N'Bánh mì', 10000, N'BK')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoai]) VALUES (N'SP02', N'Bánh bao', 15000, N'BK')
INSERT [dbo].[SanPham] ([MaSP], [TenSP], [DonGia], [MaLoai]) VALUES (N'SP03', N'Coca Cola', 12000, N'GK')
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [PR_Maloai] FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiSP] ([MaLoai])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [PR_Maloai]
GO
USE [master]
GO
